#photo-tempate{
    display: inline-block;
}

img{
 width:200px;
 height: 200px;
 
}
h2{
font-size: medium;
font-weight: bolder;    
}

footer {
  
    line-height: 3;
    clear: both;
    text-align: center;
}
